* {
  margin: 0px;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 88px;
}

header nav {
  float: right;
}

header img {
  float: left;
}

nav ul {
  margin: 30px auto;
}

nav ul li {
  display: inline-block;
  /*float: left;*/
  margin-left: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-family: arial, helvetia;
  font-size: 20px;
  font-weight: 10;
  color: #333;
}

.dropdown {
  position: relative;
}

.dropdown ul {
  margin-left: 0px;
  padding-left: 0px;
}

.dropdown-list {
  position: absolute;
  top: 0px;
  left: 0px;
}

.dropdown-list li {
  margin-left: 0px;
}

.wrapper {
  width: 960px;
  /* center the element */
  margin: 0 auto;
}

.gallery-box {
  overflow: hidden;
  padding: 40px 0;
}

.image-single {
  float: left;
  width: 110px;
  height: 90px;
  margin: 10px;
  position: relative;
}

.image-single img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  transition: all 400ms ease-in-out;
}

.image-single:hover {
  z-index: 1000;
}

.image-single img:hover {
  width: 110%;
  height: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
}

.bg {
  float: left;
  max-width: 31%;
  margin: .5%;
  position: relative;
}

.bg img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: all 300ms ease-in-out;
}

.bg .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.overlay {
  text-align: center;
}

.overlay {
  color: #fff;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.overlay h2 {
  font-family: helvetica;
  font-size: 24px;
  weight: 400;
}

.overlay p {
  font-family: helvetica;
  font-size: 16px;
  weight: 200;
}

.bg:hover img {
  filter: blur(2px);
}

.bg:hover .overlay {
  opacity: 1;
  /*display: block;*/
}

.clearfix {
  height: 0px;
  clear: both;
}

/* footer */
footer {
  width: 100%;
  background-color: green;
  padding: 10px 0px;
}

footer nav ul {
  margin: 0px;
}

footer nav ul li {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  font-family: helvetica;
  font-size: 12px;
  font-weight: 200;
  color: #fff;
}


@media only screen and (max-width: 768px) and (orientation: landscape) {
  .index-intro h2 {
    font-weight: 700;
    font-size: 34px;
  }

  .index-intro p {
    font-weight: 200;
    font-size: 26px;
  }
}
